<div class="banner-wrapper twolines">
<div class="container text-right right-text" style="background-image:url(assets/images/career-banner.jpg)">
  <h1>join our team <span>shamelessly good</span></h1>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="career_points">
                <div class="green_box">
                    <img src="assets/images/white_logo.png">
                    <p>employees should possess the folllowing</p>
                </div>
                <ul>
                    <li>A passion for great food.</li>
                    <li>An excellent work ethic.</li>
                    <li>An ability to follow rules and learn company standard operating procedures.</li>
                    <li>Enthusiasm for amazing customer service.</li>
                    <li>An unyielding approach to quality and standards.</li>
                    <li>A strong desire to be part of a winning team.</li>
                    <li>Ability to stay organized and calm in high-pressure situations.</li>
                    <li>Impeccable communication skills.</li>
                </ul>
            </div>
        </div>

        <div class="col-md-8 col-sm-6 form_design">
            <h3>If you think you are the one we need</h3>
            <form>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Phone number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Position Applied for</option>
                                <option>Position Applied for</option>
                                <option>Position Applied for</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Linkedin Profile">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group attachment">
                            <div class="file-attach">
                                <input type="file"><span>Attach Resume</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 col-sm-12"><input type="submit" value="Apply Now" class="btn btn-danger btn-block"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bottom_slidebanners">
    <div class="container-fluid">
        <span>Life at NKD</span>
        <ul>
            <li><img src="assets/images/bottom-banner/slide1.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide2.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide3.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide4.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide6.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide5.jpg" alt=""></li>
        </ul>
    </div>
</div>