<div class="banner-wrapper twolines">
<div class="container text-right right-text" style="background-image:url(assets/images/career-banner.jpg)">
  <h1>{{pageTitle}} <span>{{pageSubtitle}}</span></h1>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="career_points">
                <div class="green_box">
                    <img src="assets/images/white_logo.png">
                    <p>What we look for in our employees</p>
                </div>
                <div [innerHTML]="pageContent"></div>
            </div>
        </div>

        <div class="col-md-8 col-sm-6 form_design">
            <h3>if you want to join our team then we want to hear from you</h3>
            <p class="alert" [ngClass]="{'alert-success': error.isSuccess, 'alert-danger': !error.isSuccess}" *ngIf="error.show == true">{{error.message}}<p>
            <form  #careerForm="ngForm" ngForm (ngSubmit)="Submit()">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="career.fname" id="fname" #fname="ngModel" name="career.fname" placeholder="First Name" required>
                            <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="alert alert-danger">
                                <div [hidden]="!fname.errors.required">First Name is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="career.lname" id="lname" #lname="ngModel" name="career.lname" placeholder="Last Name" required>
                            <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger">
                                <div [hidden]="!lname.errors.required">Last Name is required.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" [(ngModel)]="career.email" id="email" #email="ngModel" name="career.email" placeholder="Email" required email>
                            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                <div [hidden]="!email.errors.required">Email is required.</div>
                                <div [hidden]="!email.errors.email">Invalid email.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="tel" class="form-control" [(ngModel)]="career.tel" id="tel" #tel="ngModel" name="career.tel" placeholder="Phone Number" maxlength="15" required>
                            <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger">
                                <div [hidden]="!tel.errors.required">Phone number is required.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="career.position" id="position" #position="ngModel" name="career.position">
                                <option value="">Position applied for</option>
                                <option value="I want to serve pizza (cashier/customer service)">I want to serve pizza (cashier/customer service)</option>
                                <option value="I’d love to cook pizza (kitchen)">I’d love to cook pizza (kitchen)</option>
                                <option value="I want to deliver pizza (driver)">I want to deliver pizza (driver)</option>
                                <option value="I’m passionate about the whole customer experience (supervisor)">I’m passionate about the whole customer experience (supervisor)</option>
                                <option value="I want to run an NKD store (manager)">I want to run an NKD store (manager)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="career.lkdin" id="lkdin" #lkdin="ngModel" name="career.lkdin" placeholder="Linkedin Profile">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group attachment">
                            <div class="file-attach">
                                <input type="file" [(ngModel)]="career.resume" id="resume" #resume="ngModel" name="career.resume" ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)"><span>Attach Resume</span>
                            </div>
                            <input type="text" [(ngModel)]="career.attachment" id="attachment" #attachment="ngModel" name="career.attachment" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <button type="submit" [disabled]="showLoading" class="btn btn-danger btn-block"
             [disabled]="!careerForm.form.valid">Apply Now</button>
                    <ng-container *ngIf="showLoading"><div class="loader">Please wait...</div></ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bottom_slidebanners">
    <div class="container-fluid">
        <span>Life at NKD</span>
        <ul>
            <li><img src="assets/images/bottom-banner/slide1.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide2.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide3.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide4.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide6.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide5.jpg" alt=""></li>
        </ul>
    </div>
</div>