<!--Banner-->
<div class="banner-wrapper">
    <div class="container" style="background-image:url(assets/images/cater-banner.jpg)">
        <h1><span>choose how to pay</span></h1>
    </div>
</div>
<div class="clearfix"></div>

<ng-container *ngIf="showLoading">
    <div class="spinner">
        <div class="cube1 icon icon-pizza-icon"></div>
        <div class="cube2 icon icon-pizza-icon"></div>
    </div>
</ng-container>

<!--Inside Sections-->
<div class="container-fluid">
    <div class="col-md-12 steprow text-center">
        <ul>
            <li><small>1</small> Check your order</li>
            <li class="active"><small>2</small> Checkout</li>
            <li><small>3</small> Complete your order</li>
        </ul>
    </div>

    <div class="col-md-12 stepboxes">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h3 class="green-title">payment summary</h3>
                <div class="dottedlist_box">
                    <ul class="dotted-list">
                        <li>Coupon discount<span>{{couponDiscount}}</span></li>
                        <li>Sub total<span>{{netCost}}</span></li>
                        <li>VAT included<span>00.00</span></li>
                        <li *ngIf="orderData.order_type=='delivery'">Delivery charge<span>0.00</span></li>
                    </ul>
                    <div class="grand-total">
                        Grand total <span>{{currencyCode}} {{totalCost}}</span>
                    </div>
                    <address class="delivery_addrs" *ngIf="orderData.order_type == 'delivery'">
                        <h4>delivery address</h4>
                        <p><strong>{{orderData.user.first_name}} {{orderData.user.last_name}}<br></strong>
                        {{orderData.address.apartment}}, <br>
                        {{orderData.address.street}}, <br>
                        {{orderData.address.city}} - {{orderData.address.postal_code}}<br>
                        Phone: {{orderData.user.phone}}</p>
                    </address>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <h3 class="green-title">choose how to pay</h3>
                <div class="payment_method">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"> <a href="#cd-cards" (click)="updatePaymentType('Credit')" aria-controls="cd-cards" role="tab" data-toggle="tab">Pay by card</a> </li>
                        <li role="presentation"> <a href="#cod" (click)="updatePaymentType('Cash')" aria-controls="cod" role="tab" data-toggle="tab">Pay by cash</a> </li>

                    </ul>
                    <div class="tab-content three-column-wrapper">
                        <div role="tabpanel" class="tab-pane fade inside-column-container" id="cod">
                            <a *ngIf="showPlaceOrder" class="btn-red btn-block" (click)="placeOrder()">Continue</a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="cd-cards">
                            
                            <form #newRuleForm="ngForm" name="addressForm" novalidate (ngSubmit)="payOnline(newRuleForm.valid)">
                                <div class="alert alert-danger" *ngIf="payError != '' && payError != null">{{payError}}</div>
                                <h5>Billing Details</h5>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Appt#" type="text" name="apartmentBill" id="apartmentBill" #apartmentBill="ngModel" [(ngModel)]="payDetails.bill_address_txt.apartment">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Street#" type="text" name="streetNo" id="streetNo" #streetNo="ngModel" [(ngModel)]="payDetails.bill_address_txt.streetNo">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Street / Building name" name="street" id="street" #street="ngModel" type="text" [(ngModel)]="payDetails.bill_address_txt.street">
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="City" type="text" name="city" id="city" #city="ngModel" [(ngModel)]="payDetails.bill_city">
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="State" type="text" name="state" id="state" #state="ngModel" [(ngModel)]="payDetails.bill_state">
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Postal Code" type="text" name="postal_code" id="postal_code" #postal_code="ngModel" [(ngModel)]="payDetails.bill_postal">
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Country Code" type="text" name="country_code" id="country_code" #country_code="ngModel" [(ngModel)]="payDetails.bill_country">
                                            
                                        </div>
                                    </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control width20" placeholder="+971" name="ccode" type="text" [(ngModel)]="payDetails.ccode" id="ccode" #ccode="ngModel" maxlength="15" required autocomplete="off">
                                        <input class="form-control" placeholder="05x xxx xxxx*" name="phone" type="text" [(ngModel)]="payDetails.phone" id="phone" #phone="ngModel" maxlength="15" required number autocomplete="off">
                                    </div>
                                </div>
                                <ng-container *ngIf="orderData.order_type == 'delivery'">
                                    <h5>Delivery Details</h5>
                                    <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Appt#" type="text" name="apartment" id="apartment" #apartment="ngModel" [(ngModel)]="payDetails.ship_address_txt.apartment">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Street#" type="text" name="streetNo" id="streetNo" #streetNo="ngModel" [(ngModel)]="payDetails.ship_address_txt.streetNo">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Street / Building name" name="street" id="street" #street="ngModel" type="text" [(ngModel)]="payDetails.ship_address_txt.street">
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="City" type="text" name="city" id="city" #city="ngModel" [(ngModel)]="payDetails.ship_city">
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="State" type="text" name="state" id="state" #state="ngModel" [(ngModel)]="payDetails.ship_state">
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Postal Code" type="text" name="postal_code" id="postal_code" #postal_code="ngModel" [(ngModel)]="payDetails.ship_postal">
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Country Code" type="text" name="country_code" id="country_code" #country_code="ngModel" [(ngModel)]="payDetails.ship_country">
                                                    
                                                </div>
                                            </div>
                                        
                                </ng-container>
                                <div class="row col-md-12 submit">
                                        <button *ngIf="showPlaceOrder" class="btn-red btn-block">Pay Now</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>