<!-- Apply Now Modal -->
<div id="applyNowModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form #applyNowForm="ngForm" ngForm (ngSubmit)="submit()">
      <div class="modal-body green applynow">
      <button type="button" class="close" (click)="close()"><span class="icon icon-close"></span></button>
        <div class="row">
          <div class="col-md-12">
            <h3 style="margin-bottom: 10px;">franchisee enquiry</h3>
          </div>
        </div>
          <p class="alert" [ngClass]="{'alert-success': error.isSuccess, 'alert-danger': !error.isSuccess}" *ngIf="error.show == true">{{error.message}}<p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="fname" #fname="ngModel" [(ngModel)]="apply.fname" name="fname" placeholder="First Name" required>
                <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="alert alert-danger">
                    <div [hidden]="!fname.errors.required">First Name is required.</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="lname" #lname="ngModel" [(ngModel)]="apply.lname" name="lname" placeholder="Last Name" required>
                <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger">
                    <div [hidden]="!lname.errors.required">Last Name is required.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" maxlength="15" id="tel" #tel="ngModel" [(ngModel)]="apply.tel" name="tel" placeholder="Phone" required>
                <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger">
                    <div [hidden]="!tel.errors.required">Phone is required.</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" id="email" #email="ngModel" [(ngModel)]="apply.email" name="email" placeholder="Email" required email> 
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                    <div [hidden]="!email.errors.required">Email is required.</div>
                    <div [hidden]="!email.errors.email">Invalid email.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="apply.country" name="country">
                  <option value="">Select Country</option>
                  <option *ngFor="let count of countryList; let i=index;" value="{{count.Country.country_name}}">{{count.Country.country_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="city" #city="ngModel" [(ngModel)]="apply.city" name="city" placeholder="City / Town"> 
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="feedback" #feedback="ngModel" [(ngModel)]="apply.feedback" name="feedback" required placeholder="Please provide further information that will help us deal with your enquiry (for example how many stores you intend to open, and your experience in the fast food sector)"></textarea>
            <div *ngIf="feedback.errors && (feedback.dirty || feedback.touched)" class="alert alert-danger">
                <div [hidden]="!feedback.errors.required">Please give us your feedback</div>
            </div>
          </div>
      </div>
      <div class="modal-footer text-center">
        <div class="row">
          <div class="col-md-3 col-md-offset-4">
            <button type="submit" [disabled]="showLoading" class="btn btn-lg btn-danger"
             [disabled]="!applyNowForm.form.valid">Submit</button>
            <ng-container *ngIf="showLoading"><div class="loader">Please wait...</div></ng-container>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
