<!--Banner-->
<div class="banner-wrapper">
<div class="container" style="background-image:url(assets/images/banner-inside/3.jpg)">
  <h1><span>choose your order</span></h1>
  <div class="leftButtons buttons hidden-md hidden-lg"><a href="#" class="whiteBtn cta-btn">Quick View</a><span class="cost">84 AED</span><a href="#" class="greenBtn cta-btn hidden-xs">Checkout</a><a href="#" class="greenBtn cta-btn visible-xs btn-sm">Checkout</a> </div>
  <!--<div class="leftButtons searchBox">
    <input type="text" class="form-control" placeholder="">
    <button class="icon-search"></button>
  </div>-->
  </div>
</div>
 <div class="clearfix"></div>
<!--Inside Sections-->
<div class="container-fluid" *ngIf="items != null">
  <div class="col-md-12 steprow text-center">
      <ul>
        <li class="active"><small>1</small> Order Review</li>  
        <li><small>2</small> Checkout</li>  
        <li><small>3</small> Order Complete</li>  
      </ul>  
  </div>
  <div class="row stepboxes">
     <div class="col-md-4 col-sm-4">
        <div class="reviewbox">
            <h5>Please enter the details below to complete your order</h5>
            <div class="row">
                <div class="col-md-6 col-sm-6"><input type="text" [(ngModel)]="order.user.first_name" class="form-control" Placeholder="First name*" required></div>
                <div class="col-md-6 col-sm-6"><input type="text" [(ngModel)]="order.user.last_name" class="form-control" Placeholder="Last name*" required></div>
                <div class="col-md-12 col-sm-12"><input type="email" [(ngModel)]="order.user.email" class="form-control" Placeholder="Email address*" required></div>
                <div class="col-md-12 col-sm-12"><input type="tel" [(ngModel)]="order.user.phone" class="form-control last" Placeholder=" Mobile Number*" required></div>
            </div>
        </div>   
     </div>  
     <div class="col-md-4 col-sm-4">
         <div class="reviewbox">
            <h5><input type="radio" [(ngModel)]="order.order_type" value="pickup" (change)="addDeliveryCost($event,'pickup')" checked="{{order.order_type == 'pickup'? 'checked': ''}}" name="pick"> Pickup <input type="radio" name="pick" [(ngModel)]="order.order_type" value="delivery" checked="{{order.order_type == 'delivery'? 'checked': ''}}" (change)="addDeliveryCost($event,'delivery')"> delivery</h5>
           
            <div class="row" *ngIf="order.order_type == 'delivery'">
                <div class="col-md-12 col-sm-12"><input type="email" class="form-control" [(ngModel)]="order.address_house_no" Placeholder="Flat house number*" required></div>
                <div class="col-md-12 col-sm-12"><input type="tel" class="form-control" [(ngModel)]="order.address_street" Placeholder=" Street/society name*" required></div>
                <div class="col-md-12 col-sm-12"><input type="text" class="form-control last" [(ngModel)]="order.delivery_time" Placeholder="Delivery Time" required></div>
            </div>
         </div>
     </div>  
     <div class="col-md-4 col-sm-4">
        <div class="reviewbox favorite">
            <h5>Save as favorite order</h5>
            <p>Order quickly next time from your saved order</p>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <input type="email" class="form-control">
                    <input type="submit" value="Save favorite">
                </div>
            </div>
         </div> 
     </div>  
  </div>
  <div class="two-column-wrapper">
  <!--Left Panel Starts-->
    <div class="row">
    <div class="col-md-8 col-sm-8 leftContent"> 
        <div class="table-responsive steporder-tab">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th></th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td class="action">
                        <a href="#"><img src="assets/images/close.jpg" alt=""></a>
                        <a href="#"><img src="assets/images/edit.jpg" alt=""></a>
                    </td>
                    <td class="img"><img src="assets/images/pizza-images/2.jpg" alt=""></td>
                    <td class="details">
                        <h4>{{items.Product.title}}</h4>
                        <ng-container *ngFor="let mod of items.ProductModifier">
                        <h5>{{mod.Modifier.title}}</h5>
                        <ul>
                            <ng-container *ngFor="let option of mod.Modifier.ModifierOption">
                            <li *ngIf="option.Option.is_checked">{{option.Option.name}}</li>
                            </ng-container>
                        </ul>
                        </ng-container>
                    </td>
                    <td>
                        <div class="quantity"><a (click)="updateQuantity(0)">-</a><a class="num">{{items.Product.qty}}</a><a (click)="updateQuantity(1)">+</a></div>
                    </td>
                    <td class="price">{{totalCost}} AED</td>
                </tr>

            </table>
        </div>
 
    </div>
    <!--Left Panel Ends-->
      
    <!--Right Panel Starts-->
    <div class="col-md-4 col-sm-4 coupan-card hidden-xs">
        <h3>Cart</h3>
        <div class="coupan_box">
            <input type="text" placeholder="coupon code">
            <input type="submit" value="Apply">
            <ul>
                <li>Coupon Discount <span>0.0</span></li>
                <li>Net Price <span>{{netCost}}</span></li>
                <li *ngIf="order.order_type=='delivery'">Delivery Charges <span>6.0</span></li>
                <li>Service tax <span>0</span></li>
            </ul>
            <div class="total">
                <p>Grand Total <span>AED {{totalCost}}</span></p>
                <button (click)="confirmOrder()">Confirm Order</button>
            </div>
        </div>
    </div>
    <!--Right Panel Ends -->
        </div>
  </div>
</div>
