<!--Banner-->
<div class="banner-wrapper twolines thin">
<div class="container text-right right-text" style="background-image:url(assets/images/cater-banner.jpg)">
  <h1>Events <span>no fine print. just fine pizza</span></h1>
  </div>
</div>
 <div class="clearfix"></div>
<!--Inside Sections-->
    
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 text-center">
            <div class="left-caterbox">
                <img src="assets/images/truck.png" alt="" class="truck">
                <p>having a large event or party and want the most impressive food solution on the planet?</p>
                <img src="assets/images/cater-img.jpg" alt="" class="food">
                <a href="#" class="check"><img src="assets/images/mini-pizza.png" alt=""> Check our Menu</a>
            </div>
        </div>

        <div class="col-md-8 col-sm-6 form_design">
            <h3>ask about our nkd pizza mobile truck.</h3>
            <form>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="tel" class="form-control" maxlength="15" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Event Date June, 28 - 2017">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Number of people</option>
                                <option>Number of people</option>
                                <option>Number of people</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Special Mention / Allergies"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 col-sm-12"><input type="submit" value="Submit" class="btn btn-danger btn-block"></div>
                </div>
            </form>
        </div>
    </div>
</div>
    
<div class="bottom_slidebanners caterslide">
    <div class="container-fluid">
        <ul>
            <li><img src="assets/images/bottom-banner/slide7.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide8.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide9.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide10.jpg" alt=""></li>
        </ul>
    </div>
</div>
