<div class="banner-wrapper franchising" style="background-image:url(assets/images/banner-inside/1.jpg)">
  <h1> {{pageTitle}} <span>{{pageSubtitle}}</span> </h1>
</div>

<div class="container">
  <div class="two-column-wrapper franchising">
    <div class="inside-column-container aside-wrapper">
      <h3>{{whyNkdPizzaTitle}}</h3>
      <div class="content-wrapper">
        <div class="img-wrapper" style="background-image:url(assets/images/why-nkd-img.jpg)"> <img src="assets/images/why-nkd-img.jpg" class="img-responsive center-block" alt=""> </div>
        <div class="content-container" [innerHTML]="whyNkdPizzaContent"></div>
      </div>
    </div>
    <div class="inside-column-container"> 
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-xs hidden-sm" role="tablist" id="tabSwitch">
        <li role="presentation" class="active"> <a href="#whynkd" aria-controls="whynkd" role="tab" data-toggle="tab">{{whyNkdTitle}}</a> </li>
        <li role="presentation"> <a href="#ourmodel" aria-controls="ourmodel" role="tab" data-toggle="tab">{{ourModelTitle}}</a> </li>
        <li role="presentation"> <a href="#applynow" aria-controls="applynow" role="tab" data-toggle="tab">{{applyNowTitle}}</a> </li>
      </ul>
      <select class="custom-select visible-xs visible-sm" target="#tabSwitch" (change)="changTab($event.target.value)">
        <option value="whynkd">{{whyNkdTitle}}</option>
        <option value="ourmodel">{{ourModelTitle}}</option>
        <option value="applynow">{{applyNowTitle}}</option>
        {{whyNkdContent}}
      </select>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="whynkd">
          <div class="content-wrapper">
              <div class="content-container" [innerHTML]="whyNkdContent"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="ourmodel">
          <div class="content-wrapper">
              <div class="content-container" [innerHTML]="ourModelContent"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="applynow">
          <div class="content-wrapper">
            <div class="content-container" [innerHTML]="applyNowContent"></div>
            <a (click)="openModal('applynow')">I’m interested</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>