<!--Banner-->
<div class="banner-wrapper twolines thin">
<div class="container text-right right-text" style="background-image:url(assets/images/cater-banner.jpg)">
  <h1>cater with us <span>no fine print. just fine pizza</span></h1>
  </div>
</div>
 <div class="clearfix"></div>
<!--Inside Sections-->
    
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 text-center">
            <div class="left-caterbox">
                <img src="assets/images/truck.png" alt="" class="truck">
                <p>having a large event or party and want the most impressive food solution on the planet?</p>
                <img src="assets/images/cater-img.jpg" alt="" class="food">
                <a href="#" class="check"><img src="assets/images/mini-pizza.png" alt=""> Check our Menu</a>
            </div>
        </div>

        <div class="col-md-8 col-sm-6 form_design">
            <h3>ask about our nkd pizza mobile truck.</h3>
            <p class="alert" [ngClass]="{'alert-success': error.isSuccess, 'alert-danger': !error.isSuccess}" *ngIf="error.show == true">{{error.message}}<p>
            <form #heroForm="ngForm">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="username" required name="username" placeholder="name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email" name="email">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="tel" class="form-control" [(ngModel)]="tel" placeholder="Phone number" name="tel">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="location" placeholder="Location" name="location">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="date" placeholder="Event Date June, 28 - 2017" name="date">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="noofuser" placeholder="Number of people" name="noofuser">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="social" placeholder="Special Mention / Allergies" name="social"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 col-sm-12">
                     <button type="button" (click)="CateringApi()" class="btn btn-danger btn-block">Submit</button>
                     </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
<div class="bottom_slidebanners caterslide">
    <div class="container-fluid">
        <ul>
            <li><img src="assets/images/bottom-banner/slide7.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide8.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide9.jpg" alt=""></li>
            <li><img src="assets/images/bottom-banner/slide10.jpg" alt=""></li>
        </ul>
    </div>
</div>
