<!--Banner
style="background-image:url(assets/images/banner-inside/4.jpg)"-->
<div class="banner-wrapper customize-desk hidden-xs hidden-sm">
<div class="container" style="background-image:url(assets/images/cater-banner.jpg)">
  <h1><span>customize your order</span></h1>
  <div class="leftButtons buttons">
    <a [routerLink]="['/menu']" class="whiteBtn cta-btn">Back To Menu</a>
    <span class="cost">{{netCost}} {{currencyCode}}</span><a (click)="checkout()" class="greenBtn cta-btn">Checkout</a> </div>
    </div>
    </div>
    <div class="banner-wrapper customize-mob hidden-md hidden-lg">
    <div class="container header-sec">
      <a [routerLink]="['/menu']" class="cta-btn" style="position: absolute; left: 0px; top: 0px;"><i class="fa fa-arrow-left"></i></a>
     <ng-container *ngIf="item != null"> 
      <h3>{{item.Product.title}}</h3>
     </ng-container>
      <a (click)="checkout()" class="cta-btn checkout" style="background: #ffffff;border-radius: 5px;
    color: #789c48; font-size: 0.8em; margin: 8px 8px 0 0; padding: 7px 10px 5px; position: absolute;
    right: 0; text-transform: uppercase;top: 0;">Checkout</a>
    </div>
</div>

 <div class="clearfix"></div>
<!--<div class="chekout-header">
</div>-->

 <div class="spinner" *ngIf="item == null">
      <div class="cube1 icon icon-pizza-icon"></div>
      <div class="cube2 icon icon-pizza-icon"></div>
    </div>

<!--Inside Sections-->
<div class="container-fluid" *ngIf="item != null">
  <div class="row">
    <div class="three-column-wrapper">
      
      
      <!--Second Col-->
      <div class="inside-column-container thirdCol">
        <div class="col-md-6" *ngFor="let mod of item.ProductModifier; let q = index;">
        <h3 class="bgGrey">{{mod.Modifier.title}}
        <span>{{mod.Modifier.short_description}}</span>
        </h3>

        <div class="content-wrapper">
          <div class="content-container">
            <div class="control-group">
              <ng-container *ngFor="let option of mod.Modifier.ModifierOption | modsort: 'option.Option.is_checked' | sort:'option.Option.name'; let m = index;">
                <ng-container *ngIf="mod.is_required == 1">
                  <label class="control radio" [ngClass]="{'checked': option.Option.is_checked == true}" (click)="updateModifier(option.Option.id, 'radio', mod.modifier_id)">
                    <h4>{{option.Option.name}}</h4>
                    <p></p>                  
                    <a class="grayBtn cta-btn active" *ngIf="mod.display_price == 1">{{option.Option.price}} {{currencyCode}}</a>
                    <!--<input type="radio" name="radio" checked="{{mod.default_option_id == option.Option.id? 'checked': ''}}"/>-->
                    <div class="control__indicator"></div>    
                  </label>
                </ng-container>
                <ng-container *ngIf="mod.is_required == 0">
                  <div class="control checkbox" [ngClass]="{'extra': option.Option.add_extra, 'checked': option.Option.is_checked == true}">
                    
                    <h4 (click)="updateModifier(option.Option.id,'checkbox', mod.modifier_id)">{{option.Option.name}}</h4> 

                    <a class="grayBtn cta-btn add_extra" (click)="updateExtra(option.Option.id, 'modifier','checkbox')"><span>add Extra</span><span *ngIf="option.Option.add_extra" class="remove">x</span></a>                                
                    <div class="control__indicator" (click)="updateModifier(option.Option.id, 'checkbox', mod.modifier_id)"><img *ngIf="option.Option.image == null" src="assets/images/blog/img-4.jpg" alt=""><img *ngIf="option.Option.image != null" src="{{cmsApiPath + '/' + option.Option.image}}" alt=""></div>
                    <ng-container *ngIf="option.Option.OptionSuboption != '' && option.Option.OptionSuboption.length > 0">
                      <ng-container *ngFor="let subop of option.Option.OptionSuboption">
                          <a [ngClass]="{'active': (subop.SubOption.is_active == true && option.Option.is_checked == true)}" title="Full" (click)="updateSubOption(q, m, option.Option.id, subop.SubOption.id);" *ngIf="subop.SubOption.name == 'Full'"><small class="Full circle"></small></a>
                          <a [ngClass]="{'active': (subop.SubOption.is_active == true && option.Option.is_checked == true)}" title="First half" (click)="updateSubOption(q, m, option.Option.id, subop.SubOption.id);" *ngIf="subop.SubOption.name == 'First Half'"><small class="circle half" [ngClass]="{'active': (subop.SubOption.is_active == 1 && option.Option.is_checked == true)}"></small></a>
                          <a [ngClass]="{'active': (subop.SubOption.is_active == true && option.Option.is_checked == true)}" title="Second half" (click)="updateSubOption(q, m, option.Option.id, subop.SubOption.id);" *ngIf="subop.SubOption.name == 'Second Half'"><small class="circle right half" [ngClass]="{'active': (subop.SubOption.is_active == 1 && option.Option.is_checked == true)}"></small></a>                                            
                      </ng-container>
                    </ng-container>  
                  </div>
                </ng-container>
              </ng-container>
             
            </div>
          </div>
        </div>
        </div>

      </div>
      <div class="inside-column-container fixed">
        <h3>{{item.Product.title}} <a (click)="addToFav()" class="fav-icon" [ngClass]="{'active': is_fav == true}"><span class="icon-favorite"></span></a></h3>
        <div class="content-wrapper">
            <div class="item-qty-price">
              <button *ngIf="showAddToCart" class="add-to-cart" (click)="add_to_cart()">Add to Cart</button>
              <div class="quantity" *ngIf="showAddToCart">
                  <a (click)="updateQuantity(0)">-</a>
                  <span class="num">{{item.Product.qty}}</span>
                  <a (click)="updateQuantity(1)">+</a>
                  <span class="cost">{{item.totalItemCost}} {{currencyCode}}</span>
              </div>
            </div>
          <div class="img-wrapper" *ngIf="item.Product.image == null" style="background-image:url(assets/images/pizza-img-lg.jpg)"></div>
          <div class="img-wrapper" *ngIf="item.Product.image != null" [ngStyle]="{'background-image': 'url(' + cmsApiPath + '/' + item.Product.image + ')'}"></div>
          <!-- <div class="nuitrition">
            <h5 class="bottomHeading">NUTRITIONAL VALUE</h5> 
              <p class="bold">456 CAL</p>
              <a href="">Know More</a>
          </div> -->
          <div class="content-container">
            <div class="ins">
              <h5>{{item.Product.title}} CONTAINS</h5>
              <p>{{item.Product.short_description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
