@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?6qi08w');
  src:  url('../fonts/icons/icomoon.eot?6qi08w#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?6qi08w') format('truetype'),
    url('../fonts/icons/icomoon.woff?6qi08w') format('woff'),
    url('../fonts/icons/icomoon.svg?6qi08w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e5cd";
}
.icon-pizza-icon:before {
  content: "\e900";
}
.icon-directions:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-time:before {
  content: "\e904";
}
.icon-close2:before {
  content: "\e905";
}
.icon-eclub:before {
  content: "\e906";
}
.icon-locations:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-keyboard_arrow_up:before {
  content: "\e909";
}
.icon-keyboard_arrow_right:before {
  content: "\e90a";
}
.icon-keyboard_arrow_left:before {
  content: "\e90b";
}
.icon-keyboard_arrow_down:before {
  content: "\e90c";
}
.icon-favorite:before {
  content: "\e90d";
}
.icon-pizza:before {
  content: "\e90e";
}
.icon-pizza-slice-cut:before {
  content: "\e90f";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-edit:before {
  content: "\f044";
}
