<!--Banner-->
<!--<div class="banner-wrapper">
<div class="container" style="background-image:url(assets/images/cater-banner.jpg)">
  <h1><span>choose your order</span></h1>
  <div class="leftButtons buttons hidden-md hidden-lg" *ngIf="items.length > 0"><a (click)="checkout()" class="whiteBtn cta-btn">Checkout</a></div>
  </div>
</div>-->

<div class="secondary_menu">
  <div class="container-fluid">
    <div class="menutabs">
      <ul>
        <li [ngClass]="{'active': (selectedMenuCat != 'meal deals')}" role="presentation">
          <a [routerLink]="['/menu','pizzas']">menu</a>
        </li>
        <li [ngClass]="{'active': (selectedMenuCat == 'meal deals')}" role="presentation">
          <a [routerLink]="['/menu','meal deals']">deals</a>
        </li>
      </ul>
    </div>

    <div class="dropdown_rightmenu">
      <ul>
        <li>
          <a (click)="updateStoreAndTime('location')">Store location
            <span>{{ orderNowDetails?orderNowDetails.selectedStore.Store.store_name:'Select Store'}}</span>
          </a>
        </li>
        <li>
          <a (click)="updateStoreAndTime('time')">Order time
            <span>{{ orderNowDetails?orderNowDetails.delivery_time:'Select Time'}}
            </span>
          </a>
        </li>
        <li>
          <a (click)="updateStoreAndTime('pincode')">postcode
            <span>{{ orderNowDetails?orderNowDetails.address.postal_code:'Select Postcode'}}</span>
          </a>
        </li>
        <li class="checkout" *ngIf="netCost != 0 && showViewCart">
          <a (click)="checkout()">
            <strong>checkout</strong>
            <small>{{currencyCode}}{{netCost}}</small>
          </a>
        </li>
      </ul>
    </div>
    <div class="visible-xs mobileallergens">
      <a class="" target="_blank" href="assets/images/nkd-nutrition-information.pdf">
        <i class="fa fa-chevron-left"></i>
        <!-- <i class="fa fa-close"></i> -->Allergens</a>
      <!-- <ul class="menu_type">
        <li>
          <a _ngcontent-c0>
            <img src="assets/images/vegeterian.png" alt="">Vegetarian</a>
        </li>
        <li>
          <a _ngcontent-c0>
            <img src="assets/images/gluten.png" alt="">Gluten Free</a>
        </li>
        <li>
          <a _ngcontent-c0>
            <img src="assets/images/hot.png" alt="">Hot</a>
        </li>
        <li>
          <a _ngcontent-c0>
            <img src="assets/images/nuts.png" alt="">Nuts</a>
        </li>
      </ul> -->
    </div>
  </div>
</div>



<div class="clearfix"></div>


<!--Inside Sections-->
<div class="container-fluid">
  <div class="spinner" *ngIf="menuData == null">
    <div class="cube1 icon icon-pizza-icon"></div>
    <div class="cube2 icon icon-pizza-icon"></div>
  </div>

  <div class="two-column-wrapper ourmenu" *ngIf="menuData != null && selectedMenuCat != null">
    <!--Left Panel Starts-->
    <div class="col-md-8 col-sm-8 col-lg-9 menulist-items" [ngClass]="{'fullview': showViewCart ==  false}">
      <div class="inside-column-container leftContent">
        <!-- Nav tabs -->
        <!-- <ul class="nav nav-tabs hidden-xs  orderTabs" role="tablist" id="tabSwitch" [ngClass]="{'full': showViewCart ==  false}">
        <li role="presentation" *ngFor="let cat of menuData; let i = index" [ngClass]="(cat.name == selectedMenuCat)? 'active': ''"> <a [routerLink]="['/menu', cat.name]" aria-controls="applyNow" role="tab" data-toggle="tab">{{cat.name}}</a> </li>
      </ul>
      <select class="custom-select visible-xs" [(ngModel)]="selectedMenuCat" target="#tabSwitch" (change)="changTab($event.target.value)">
        <option *ngFor="let cat of menuData"  value="{{cat.name}}">{{cat.name}}</option>
      </select> -->


        <div class="col-md-12 deal-bar" [ngClass]="{'fullview': showViewCart ==  false}">
          <a (click)="backToMenuPage()">
            <span class="icon icon-keyboard_arrow_left"></span>
          </a>
          <p>
            <strong>{{dealData.title}}</strong>
            <span>{{dealData.description}}</span>
          </p>
        </div>
        <div class="deal-content">
          <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="{{selectedDealMenuCatIndex}}">
            <!--     
             <span *ngIf="!cat.isEnable || j != selectedDealMenuCatIndex">{{cat.catText}}</span>
             <a *ngIf="cat.isEnable && j == selectedDealMenuCatIndex"  aria-controls="applyNow" role="tab" data-toggle="tab">{{cat.catText}}</a> 
            </li>
          
          -->
            <ngb-panel *ngFor="let cat of dealData.categories; let j = index;" id="{{cat.pos}}" [disabled]="cat.isEnable && j == selectedDealMenuCatIndex ? false: true">

              <ng-template ngbPanelTitle>
                <div class="panel-heading">
                  <i class="fa fa-minus"></i>
                  <i class="fa fa-check"></i>{{cat.catText}}
                  <span class="icon icon-keyboard_arrow_down"></span>
                  <span class="icon icon-keyboard_arrow_up"></span>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <ng-container *ngFor="let data of menuData; let z=index;">
                  <div class="content-wrapper">
                    <div class="content-container">
                      <div class="menuTabdetails">
                        <div class="row columnsdivider">
                          <ng-container *ngFor="let prod of data.products; let y=index;">
                            <ng-container *ngIf="data.subCatsName.length == 0">
                              <div class="col-md-6 col-sm-6 col-lg-4" *ngIf="prod.is_price_mapped==1 && checkForDealArray(prod.id, prod.plu_code, prod.category_id)">
                                <div class="imgbox">
                                  <img src="{{cmsApiPath + '/' + prod.image}}" alt="" class="img-responsive">
                                  <img class="nutrision" src="assets/images/vegeterian.png" *ngIf="prod.groupv == 1" popover="Vegetarian" [popoverOnHover]="true"
                                  />
                                  <img class="nutrision" src="assets/images/hot.png" *ngIf="prod.grouph == 1" popover="Hot" [popoverOnHover]="true" />
                                  <img class="nutrision" src="assets/images/gluten.png" *ngIf="prod.groupvh == 1" popover="Gluten Free" [popoverOnHover]="true"
                                  />
                                  <img class="nutrision" src="assets/images/nuts.png" *ngIf="prod.groupvh == 1" popover="Nuts" [popoverOnHover]="true" />
                                  <img height="30" src="assets/images/nutrition-info-icon.svg" width="30" class="info" (click)="nutritionInfo={};nutritionInfo['plu'+prod.plu_code]=true">
                                  <p [ngClass]="{'active': (nutritionInfo['plu'+prod.plu_code])}">{{prod.short_description}}
                                    <span class="icon icon-close" (click)="nutritionInfo={}"></span>
                                  </p>
                                </div>
                                <h4>{{prod.title}}</h4>
                                <h5>{{prod.price_title}}</h5>
                                <div class="proinfo" *ngIf="prod.plu_code != 999999">
                                  <ng-container *ngIf=" prod.mod_count > 0">
                                    <select class="full" *ngIf="prod.dipping_sauce_data" [(ngModel)]="prod.dd_default_selection">
                                      <option *ngFor="let dipping_sauce_data of prod.dipping_sauce_data" value="{{dipping_sauce_data.PLU}}">{{dipping_sauce_data.Name}}</option>
                                    </select>
                                   </ng-container>
                            
                                </div>
                                <div class="row" *ngIf="prod.plu_code != 999999 && prod.mod_count > 0 && prod.crust_price">
                                  <div class="col-md-6 col-xs-6">
                                    <a *ngIf="prod.mod_count > 0" (click)="addToCart(prod.slug, prod.mod_count)" class="btn btn-red">Customise</a>
                                  </div>
                                  <div class="col-md-6 col-xs-6">
                                    <a (click)="addToCart(prod.slug, prod.mod_count,'others' ,prod.dd_default_selection)" class="btn btn-green">Add to Cart</a>
                                  </div>
                                </div>
                                <div class="row" *ngIf="prod.plu_code == 999999">
                                  <div class="col-md-12 col-xs-12">
                                    <a (click)="addToCart(prod.slug, prod.mod_count)" class="btn btn-red">Customise</a>
                                  </div>
                                </div>
                                <div class="row" *ngIf="prod.mod_count==0 || (prod.mod_count==1 && prod.dipping_sauce_data)">
                                  <div class="col-md-12 col-xs-12">
                                    <a (click)="addToCart(prod.slug, prod.mod_count,'others' ,prod.dd_default_selection)" class="btn btn-green">Add to Cart</a>
                                  </div>
                                </div>
                                <div class="row" *ngIf="prod.mod_count>1 && prod.dipping_sauce_data">
                                  <div class="col-md-6 col-xs-6">
                                    <a *ngIf="prod.mod_count > 0" (click)="addToCart(prod.slug, prod.mod_count)" class="btn btn-red">Customise</a>
                                  </div>
                                  <div class="col-md-6 col-xs-6">
                                    <a (click)="addToCart(prod.slug, prod.mod_count,'others' ,prod.dd_default_selection)" class="btn btn-green">Add to Cart</a>
                                  </div>
                                </div>
                                
                              </div>
                            </ng-container>

                            <ng-container *ngIf="data.subCatsName.length > 0">
                              <ng-container *ngFor="let subCt of data.subCats | keysPipe; let r=index;">
                                <ng-container *ngFor="let subProducts of subCt.value">
                                  <ng-container *ngFor="let subProd of subProducts.products">
                                    <div class="col-md-6 col-sm-6 col-lg-4" *ngIf="subProd.is_price_mapped==1 && checkForDealArray(subProd.id, subProd.plu_code, subProd.category_id)">
                                      <div class="imgbox">
                                        <img src="{{cmsApiPath + '/' + subProd.image}}" alt="" class="img-responsive">
                                        <!--<small *ngIf="subCt.key!='signature'">{{subCt.key}}</small>-->
                                        <img class="nutrision" src="assets/images/vegeterian.png" *ngIf="subProd.groupv == 1" popover="Vegetarian" [popoverOnHover]="true"
                                        />
                                        <img class="nutrision" src="assets/images/hot.png" *ngIf="subProd.grouph == 1" popover="Hot" [popoverOnHover]="true" />
                                        <img class="nutrision" src="assets/images/gluten.png" *ngIf="subProd.groupvh == 1" popover="Gluten Free" [popoverOnHover]="true"
                                        />
                                        <img class="nutrision" src="assets/images/nuts.png" *ngIf="subProd.groupvh == 1" popover="Nuts" [popoverOnHover]="true" />
                                        <img height="30" src="assets/images/nutrition-info-icon.svg" width="30" class="info" (click)="nutritionInfo={};nutritionInfo['plu'+subProd.plu_code]=true">
                                        <p [ngClass]="{'active': (nutritionInfo['plu'+subProd.plu_code])}">{{subProd.short_description}}
                                          <span class="icon icon-close" (click)="nutritionInfo={}"></span>
                                        </p>
                                      </div>
                                      <h4>{{subProd.title}}</h4>
                                      <div class="proinfo">
                                        <ng-container *ngIf=" subProd.mod_count > 0 &&  updateDefaultValue(subProd.plu_code,'I100-999993',cat)">
                                          <select class="full" *ngIf="subProd.crust_price" [(ngModel)]="customizeDropdown['_'+subProd.plu_code]">
                                            <ng-container *ngFor="let crust_price of subProd.crust_price">
                                                <option *ngIf="crust_price.PriceSm!=0 && (!cat.allowSize.length || -1 !== cat.allowSize.indexOf('999991')) && (!cat.allowProduct.length || -1 !== cat.allowProduct.indexOf(crust_price.PLU))" value="{{crust_price.PLU}}-999991">Small 9" - {{crust_price.Name}} - {{parseFloatCustome(crust_price.PriceSm,subProd['price']['small'],'add')}}</option>
                                                <option *ngIf="crust_price.PriceMed!=0 && (!cat.allowSize.length || -1 !== cat.allowSize.indexOf('999992')) && (!cat.allowProduct.length || -1 !== cat.allowProduct.indexOf(crust_price.PLU))" value="{{crust_price.PLU}}-999992">Medium 11.5" - {{crust_price.Name}} - {{parseFloatCustome(crust_price.PriceMed,subProd['price']['medium'],'add')}}</option>
                                                <option *ngIf="crust_price.PriceLg!= 0 && (!cat.allowSize.length || -1 !== cat.allowSize.indexOf('999993')) && (!cat.allowProduct.length || -1 !== cat.allowProduct.indexOf(crust_price.PLU))" value="{{crust_price.PLU}}-999993">Large 13.5" - {{crust_price.Name}} - {{parseFloatCustome(crust_price.PriceLg,subProd['price']['large'],'add')}}</option>
                                            </ng-container>
                                          </select>



                                        </ng-container>
                                        <!--<span>
                                          <a (click)="updateQuantityBeforeCart(0, subProd.plu_code)">-</a>
                                          <a>{{ itemsQtyBeforeCart['qty_'+subProd.plu_code]?itemsQtyBeforeCart['qty_'+subProd.plu_code]:1
                                            }}</a>
                                          <a (click)="updateQuantityBeforeCart(1, subProd.plu_code)">+</a>
                                        </span>-->
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                          <a *ngIf="subProd.mod_count > 0" (click)="addToCart(subProd.slug, subProd.mod_count)" class="btn btn-red">Customise</a>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                          <a (click)="addToCart(subProd.slug, subProd.mod_count,'pizza',customizeDropdown['_'+subProd.plu_code])" class="btn btn-green">Add to Cart</a>
                                        </div>
                                      </div>
                                    </div>
                                  </ng-container>

                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>





      </div>
    </div>
    <!--Left Panel Ends-->
    <!--Right Panel Starts-->
    <div class="col-md-4 col-sm-4 col-lg-3" *ngIf="showViewCart">
      <div class="viewcart_sec fixedsticky">
        <div class="inside-column-container aside-wrapper orderProcessIns hidden-xs">

          <ng-container *ngIf="items.length == 0">
            <h3>My Order</h3>
            <div class="content-wrapper">
              <div class="content-container">
                <div class="cart_img">
                  <h6>Your cart is empty</h6>
                  <img src="assets/images/cart-img.png" alt=""> </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="items.length > 0">

            <h3>view cart
              <a class="clear-cart" (click)="clearCart();">Clear Cart</a>
              <!-- <a class="down-nutri" href="https://nkdpizza.com/uk/nkd-nutrition-information.pdf" target="_blank"><img src="assets/images/nutrition-info-icon.svg" height="50" width="50"></a> -->
            </h3>
            <div class="content-wrapper">
              <div class="right-padd">
                <div class="scroller">

                  <ng-container *ngFor="let item of formattedItems.deals; let i=index;">

                    <div class="cartbox">


                      <div class="item_info">
                        <h4>{{item.title}}</h4>
                        <ul>
                          <ng-container *ngFor="let dItem of item.dealData">
                            <li>{{dItem.Product.title}}</li>
                          </ng-container>
                        </ul>
                      </div>
                      <div class="item_pic">
                        <div class="img-control">
                          <a (click)="deleteDealItem(item.dealData[0].Product.dealId, item.dealData[0].Product.comboUniqueId)">
                            <span class="icon icon-close"></span>
                          </a>

                        </div>
                        <!--<img *ngIf="item.Product.thumb_image == null" src="assets/images/pizza-images/2.jpg" alt="" class="item">
                                        <img *ngIf="item.Product.thumb_image != null" src="{{cmsApiPath + '/' + item.Product.thumb_image}}" alt="" class="item">-->

                      </div>


                    </div>

                  </ng-container>

                  <ng-container *ngFor="let item of formattedItems.otherItems; let i=index;">

                    <div class="cartbox">


                      <div class="item_info">
                        <h4>{{item.Product.title}}</h4>
                        <ng-container *ngFor="let mod of item.ProductModifier">
                          <!--<h5 class="space">{{mod.Modifier.title}}</h5>-->
                          <ul>
                            <ng-container *ngFor="let option of mod.Modifier.ModifierOption">

                              <ng-container *ngIf="(option.Option.plu_code == 217 || option.Option.plu_code == 'I100' || option.Option.plu_code == 'I101') && option.Option.is_checked">
                                <li>
                                  <strong>Crust:</strong> {{option.Option.name}}</li>
                              </ng-container>
                              <ng-container *ngIf="(option.Option.plu_code == 999991 || option.Option.plu_code == 999992 || option.Option.plu_code == 999993) && option.Option.is_checked">
                                <li>
                                  <strong>Size:</strong> {{option.Option.name}}</li>
                              </ng-container>

                              <ng-container *ngIf="option.Option.is_checked && option.Option.is_included_mod && option.Option.add_extra && option.Option.plu_code != 217 && option.Option.plu_code != 'I100' && option.Option.plu_code != 'I101' && option.Option.plu_code != 999991 && option.Option.plu_code != 999992 && option.Option.plu_code != 999993">
                                <li>+ {{option.Option.name}}
                                  <small *ngIf="option.Option.add_extra">(Add Extra)</small>
                                  <ng-container *ngIf="item.Product.category_id == 1">({{option.Option.subop_name}})</ng-container>
                                </li>
                              </ng-container>
                              <ng-container *ngIf="!option.Option.is_checked && option.Option.is_included_mod && option.Option.plu_code != 217 && option.Option.plu_code != 'I100' && option.Option.plu_code != 'I101' && option.Option.plu_code != 999991 && option.Option.plu_code != 999992 && option.Option.plu_code != 999993">
                                <li>- {{option.Option.name}}
                                  <small *ngIf="option.Option.add_extra">(Add Extra)</small>
                                  <ng-container *ngIf="item.Product.category_id == 1">({{option.Option.subop_name}})</ng-container>
                                </li>
                              </ng-container>
                              <ng-container *ngIf="option.Option.is_checked && !option.Option.is_included_mod && option.Option.plu_code != 217 && option.Option.plu_code != 'I100' && option.Option.plu_code != 'I101' && option.Option.plu_code != 999991 && option.Option.plu_code != 999992 && option.Option.plu_code != 999993">
                                <li>+ {{option.Option.name}}
                                  <small *ngIf="option.Option.add_extra">(Add Extra)</small>
                                  <ng-container *ngIf="item.Product.category_id == 1">({{ option.Option.subop_name}})</ng-container>
                                </li>
                              </ng-container>
                              <!--<li *ngIf="option.Option.is_checked">Add {{option.Option.name}}</li>-->
                            </ng-container>
                          </ul>
                        </ng-container>
                      </div>
                      <div class="item_pic">
                        <div class="img-control">
                          <a (click)="deleteItem(i, item)">
                            <span class="icon icon-close"></span>
                          </a>
                          <!-- <a *ngIf="item.ProductModifier.length > 0 && item.Product.dealId == undefined" (click)="editItem(i, item)"><span class="icon icon-edit"></span></a> -->
                        </div>
                        <img *ngIf="item.Product.thumb_image == null" src="assets/images/pizza-images/2.jpg" alt="" class="item">
                        <img *ngIf="item.Product.thumb_image != null" src="{{cmsApiPath + '/' + item.Product.thumb_image}}" alt="" class="item">
                      </div>
                      <div class="item-action">
                        <div class="col-md-12">
                          <div class="quantity">
                            <a (click)="updateQuantity(0, item.Product.plu_code, i)">-</a>
                            <span class="num">{{item.Product.qty}}</span>
                            <a (click)="updateQuantity(1, item.Product.plu_code, i)">+</a>
                          </div>
                          <div class="price">{{currencyCode}}{{item.totalItemCost }}</div>
                        </div>
                      </div>

                    </div>

                  </ng-container>

                </div>
              </div>
              <!-- <div class="sumarry-box">
          <div class="total">
          <label>Sub total</label>
          <span>{{currencyCode}}{{netCost}}</span>
          </div> 
          <a (click)="backToMenuPage()">Back to Menu</a>
          </div>-->
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!--Right Panel Ends -->
  </div>
</div>