<!--Navigation-->
<nav class="main-navigation fadeIn animated">
  <div class="nav-container">
    <ul>
      <li class="active"> <a href="#">Home</a> </li>
      <li> <a href="franchising.html">franchising </a> </li>
      <li> <a href="#">catering</a> </li>
      <li> <a href="#">events</a> </li>
      <li> <a href="#" data-toggle="modal" data-target="#contactusModal">contact us</a> </li>
      <li> <a href="genric-internal.html">join our team</a> </li>
      <li> <a href="#">news</a> </li>
    </ul>
    <hr class="clearfix visible-xs">
    <ul class="links visible-xs">
      <li> <a href="#"> <span class="icon icon-locations"></span> <span>locations</span> </a> </li>
      <li> <a (click)="openModal('login')"> <span class="icon icon-eclub"></span> <span>My NKD</span> </a> </li>
    </ul>
    <hr class="clearfix visible-xs">
    <ul class="list-inline social-list visible-xs">
      <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
      <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="icon-instagram"></i></a></li>
    </ul>
  </div>
</nav>

<!--Header-->
<header class="navigation"> <a href class="menu-button" id="menuButton"> <i class="menu-icon"> <span></span> <span></span> <span></span> </i> <i class="icon-close"> </i> </a> <a [routerLink]="['/']" class="logo"> <img src="assets/images/logo.png" height="100%" alt="Logo" /> </a>
  <ul class="list-inline links hidden-xs">
    <li> <a href="#"> <span class="icon icon-locations"></span> <span>locations</span> </a> </li>
    <li class="eclub-btn"> <a (click)="openModal('login')"> <span class="icon icon-eclub"></span> <span>My NKD</span> </a> </li>
  </ul>
<ul class="list-inline links hidden-xs">
     <li> <a [routerLink]="['/menu']"> <span class="icon icon-pizza"></span><span>Menu</span> </a> </li>
    <li> <a> <span class="icon icon-pizza-icon"></span><span>Order Now</span> </a> </li>
    <li> <a href="#" data-toggle="modal" data-target="#signinModal"><span class="icon icon-favorite"></span><span>Favorites</span></a></li>
  </ul>
  
  <ul class="list-inline mobile links hidden-md hidden-lg">
      <li><a href="#" data-toggle="modal" data-target="#pickupdeliveryModal"><span class="icon icon-pizza-icon"></span></a></li>
      <li><a href="#" data-toggle="modal" data-target="#signinModal"><span class="icon icon-favorite"></span></a> </li>
      <li><a href="#" data-toggle="modal" data-target="#signinModal"><span class="icon icon-eclub"></span></a> </li>
      
  </ul>
  
</header>

<router-outlet></router-outlet>

<!--Footer-->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-6"> <img src="assets/images/logo-footer.jpg" class="img-responsive logo" alt="Logo"/> </div>
          <div class="col-sm-3">
            <ul class="nav-links">
              <li> <a href="franchising.html">franchising </a> </li>
              <li> <a href="#">catering</a> </li>
              <li> <a href="#">events</a> </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="nav-links border-right">
              <li> <a href="#" data-toggle="modal" data-target="#contactusModal">contact us</a> </li>
              <li> <a href="genric-internal.html">join our team</a> </li>
              <li> <a href="#">news</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="list-inline social-links">
          <li>follow us /</li>
          <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <p>© 2017 NKD Pizza. All rights reserved.</p>
</footer>
