<div id="Congrath-Modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" (click)="closePopup()"><span class="icon icon-close"></span></button>
      </div>
      <div class="modal-body">
        <h3>Welcome to <img src="assets/images/logo.svg" alt="Logo" height="45"></h3>
        <p>Your account has been created</p>
        <p>You are logged in and may begin ordering.</p>
        <div class="form-group">
          <a [routerLink]="['/account']" (click)="goto('account')" class="btn btn-default prev">Manage Account</a>
          <a (click)="goToOrderNow()" class="btn btn-default">Start Ordering</a>
        </div>
      </div>
    </div>
  </div>
</div>