<!--Banner-->
<div class="banner-wrapper">
<div class="container" style="background-image:url(assets/images/cater-banner.jpg)">
  <h1><span>Order Confirmation</span></h1>
  <!--<div class="leftButtons buttons hidden-md hidden-lg"><a href="#" class="whiteBtn cta-btn">Quick View</a><span class="cost">84 {{currencyCode}}</span><a href="#" class="greenBtn cta-btn hidden-xs">Checkout</a><a href="#" class="greenBtn cta-btn visible-xs btn-sm">Checkout</a> </div>-->
  <!--<div class="leftButtons searchBox">
    <input type="text" class="form-control" placeholder="">
    <button class="icon-search"></button>
  </div>-->
  </div>
</div>
 <div class="clearfix"></div>

<ng-container *ngIf="showLoading">
  <div class="spinner">
      <div class="cube1 icon icon-pizza-icon"></div>
      <div class="cube2 icon icon-pizza-icon"></div>
  </div>
</ng-container>

<!--Inside Sections-->
<div class="container-fluid">
  <div class="col-md-12 steprow text-center">
      <ul>
        <li><small>1</small> Order Review</li>  
        <li><small>2</small> Checkout</li>  
        <li class="active"><small>3</small> Order Complete</li>  
      </ul>  
  </div>

 <div class="col-md-12 stepboxes">
      <div class="row">
        <div class="col-md-4 col-sm-4 complete-summary">
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th class="main">order summary</th>
                            <th>qty</th>
                            <th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td>
                                <h4>{{item.Product.title}}</h4>
                                <!--<p><span>Size :</span> Medium</p>
                                <p><span>Crust:</span> Gluten-free</p>-->
                            </td>
                            <td>{{item.Product.qty}}</td>
                            <td>{{item.totalItemCost}}</td>
                        </tr>

                        <tr>
                            <td>Coupon Discount</td>
                            <td></td>
                            <td>{{couponDiscount}}</td>
                        </tr>
                        <tr>
                            <td>Sub Total</td>
                            <td></td>
                            <td>{{netCost}}</td>
                        </tr>
                        <tr>
                            <td>Taxes</td>
                            <td></td>
                            <td>0.00</td>
                        </tr>
                        <tr *ngIf="orderData.order_type == 'delivery'">
                            <td>Delivery Charge</td>
                            <td></td>
                            <td>6.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="blackbox">
                <div class="grand-total">Grand Total <span>{{currencyCode}} {{totalCost}}</span></div>
            </div>
        </div>    

        <div class="col-md-8 col-sm-8">
            <h3 class="green-title text-center">your order has been placed</h3>
            <div class="thankyou_box">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h4>Thank you for your order</h4>
                    <h5>ORDER # {{orderId}}</h5>
                    <address class="d-add" *ngIf="orderData.order_type == 'delivery'">
                        <strong>delivery address</strong>
                        <p><span>{{orderData.user.first_name}} {{orderData.user.last_name}}<br></span>
                {{orderData.address.apartment}}, {{orderData.address.street_no}}<br>
                {{orderData.address.street}} {{orderData.address.city}}<br>
                {{orderData.address.state}} - {{orderData.address.postal_code}}<br>
                Phone: {{orderData.user.phone}}</p>
                    </address>
                    <address class="r-add">
                        <strong>restaurant address</strong>
                        <p><span>{{storeData.Store.store_name}} <br></span>
                        {{storeData.Store.store_address}} <br>
                        {{storeData.Store.state}} {{storeData.Store.zip}}<br>
                        Phone: {{storeData.Store.store_phone}}</p>
                    </address>
                    <ul>
                        <li><a [routerLink]="['/menu']" class="another-order">Start a new Order</a></li>
                        <!--<li><a><img src="assets/images/face.png" alt=""></a></li>
                        <li><a><img src="assets/images/instagram.png" alt=""></a></li>
                        <li><a><img src="assets/images/yellow.png" alt=""></a></li>-->
                    </ul>
                </div>
            </div>
        </div>    
  </div>

 </div>
</div>