<div class="slider-wrapper">
  <div class="slides" id="home-slider" *ngIf="slideArr.length != 0">
    <ng-container *ngFor="let slide of slideArr">
    <div class="slide" [ngStyle]="{ 'background-image': 'url(' + slide.Slide.image + ')'}">
      <div class="container">
        <div class="fade-bg visible-xs"></div>
        <div class="slide-content fadeIn animated"> <img src="{{slide.Slide.textImage}}" class="img-responsive" alt="slide content"/></div>
      </div>
    </div>
    </ng-container>
  </div>
</div>

<div class="how-are-we-different-wrapper">
  <div class="container">
    <h3 class="text-center">Why we’re <span>different</span></h3>
    <p>We’re all flavor, no filler. Pizza we feel good about serving. Pizza you feel good about eating. Pizza that puts itself out there in all of its natural, naked glory.</p>
    <div class="row">
      <div class="col-sm-4">
        <div class="section-wrapper">
          <div class="section-container">
            <h4>fresh</h4>
            <p>we freshly prepare our ingredients</p>
            <div class="img-box">
            <div class="overlap-text">Our cheese is 100% natural. Our vegetables are all-natural, no additives. Our meats are pork, chicken and beef—free of growth hormones and antibiotics. Full of love.
            We freshly slice ingredients for our pizzas in-restaurant — from tomatos, to jalapeños and apples.</div>
            <img src="assets/images/how-are-we-different/1.jpg" class="img-responsive center-block" alt="image-fresh"/>
            </div>
            <a href class="arrow-button icon-keyboard_arrow_up"></a> </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="section-wrapper">
          <div class="section-container">
            <h4>Ancestral blend crust</h4>
            <p>Our crust is made from an Ancestral Blend® of 10 grains</p>
            <div class="img-box">
            <div class="overlap-text">Our crust is made from an Ancestral Blend® of 10 grains plus prebiotic agave fiber and probiotics (healthful bacteria like the ones found in yogurt for balance and digestive health) bound by water and made by hand. A diversity of grains, fiber and probiotics are the main reason for that satisfying feeling after eating NKD Pizza, contributing a slow, sustained release of energy without the crash from eating other single grain, highly processed pizzas.</div>
            <img src="assets/images/how-are-we-different/2.jpg" class="img-responsive center-block" alt="image-fresh"/>
            </div>
            <a href class="arrow-button icon-keyboard_arrow_up"></a> </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="section-wrapper">
          <div class="section-container no-border">
            <h4>All-natural tomato sauce</h4>
            <p>our very own house-made tomato sauce</p>
            <div class="img-box">
            <div class="overlap-text">Our tomato sauce is all-natural—nicely spiced and herbed, with no added sugar or citric acid. Nothing processed or modified or tinkered with. No additives or preservatives. No artificial colors or flavors. No, none of that. Just real fresh ingredients we combine to make really tasty pizza.</div>
            <img src="assets/images/how-are-we-different/3.jpg" class="img-responsive center-block" alt="image-fresh"/>

</div>
            <a href class="arrow-button icon-keyboard_arrow_up"></a> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="blog-content red">
          <div class="media">
            <div class="media-left media-middle"> <i class="icon-twitter"></i> </div>
            <div class="media-body media-middle">
              <h4 class="media-heading">@NKDPizzaUSA </h4>
            </div>
          </div>
          <p>{{latestTweet}}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" *ngIf="latestFbFeeds != null">
        <div class="blog-content" [ngStyle]="{ 'background-image': 'url(' + latestFbFeeds.image + ')'}">
          <div class="media">
            <div class="media-left media-middle"> <i class="icon-facebook"></i> </div>
            <div class="media-body">
              <ng-container *ngIf="latestFbFeeds.title">
              <h4 class="media-heading">{{latestFbFeeds.title}}</h4>
              </ng-container>
              <p>{{latestFbFeeds.message}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
      <div class="blog-media" style="background-image:url(assets/images/our-journey.jpg);">
         <div class="media">
         <span class="video-icon">
         <a class="video-btn icon-play" data-fancybox href="https://player.vimeo.com/video/157487447?autoplay=1"></a>
         </span>
         <img class="title-img img-responsive" src="assets/images/our-journey-text.png" alt="Our Journey" style="margin-top:60px;"/>
            </div>
          
       </div>
        
      </div>
      <div class="col-md-4 col-sm-6" *ngFor=" let feed of latestIgFeeds;  let i=index">
        <ng-container *ngIf="feed != null">
        <div class="blog-content" [ngStyle]="{ 'background-image': 'url(' + feed.image + ')'}" *ngIf="i<3" >
          <div class="media">
            <div class="media-left media-middle"> <i class="icon-instagram"></i> </div>
            <div class="media-body">
              <h4 class="media-heading" *ngIf="feed.title">{{feed.title}}</h4>
              <p>{{feed.message}}</p>
            </div>
          </div>
        </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="map-wrapper">
  <div id="mapCanvas" class="map-canvas">
  </div>
  <div id="mapText" class="title-image img-responsive"></div>
</div>
