<!--Banner-->
<div class="banner-wrapper myaccount">
<div class="container" style="background-image:url(assets/images/cater-banner.jpg)">
  <h1>{{name}}</h1>
  <div *ngIf="orderUrl == '' && !hideForUK" class="leftButtons buttons"><a (click)="openModal('ordernow')" class="whiteBtn cta-btn">Start a new Order</a></div>
  <div *ngIf="orderUrl != '' && !hideForUK" class="leftButtons buttons"><a href="{{orderUrl}}" class="whiteBtn cta-btn">Start a new Order</a></div>
  <!--<div class="leftButtons searchBox">
    <input type="text" class="form-control" placeholder="">
    <button class="icon-search"></button>
  </div>-->
  </div>
</div>
 <div class="clearfix"></div>

<ng-container *ngIf="showLoading">
  <div class="spinner">
      <div class="cube1 icon icon-pizza-icon"></div>
      <div class="cube2 icon icon-pizza-icon"></div>
  </div>
</ng-container>

<!--Inside Sections-->
<div class="container myaccount-page">
  
  <div class="row">
      <div class="col-md-3 col-sm-3 account-sidebar">
        <div class="box">
          <h4>Profile</h4>
          <ul>
            <li [ngClass]="{'active': currentTab == 'personalInfo'}"><a (click)="goToTab('personalInfo')">Personal Info</a></li>
            <li [ngClass]="{'active': currentTab == 'accountInfo'}"><a (click)="goToTab('accountInfo')">Account Info</a></li>
            <li [ngClass]="{'active': currentTab == 'preference'}"><a (click)="goToTab('preference')">Preferences</a></li>
          </ul>
        </div>
        <div class="box" *ngIf="orderUrl == '' && !hideForUK">
          <h4>Ordering</h4>
          <ul>
            <li [ngClass]="{'active': currentTab == 'favOrders'}"><a (click)="goToTab('favOrders')">Favorite Orders</a></li>
            <li [ngClass]="{'active': currentTab == 'favItems'}"><a (click)="goToTab('favItems')">Favorite Items</a></li>
            <li [ngClass]="{'active': currentTab == 'orderHistory'}"><a (click)="goToTab('orderHistory')">Order History</a></li>
            <li [ngClass]="{'active': currentTab == 'address'}"><a (click)="goToTab('address')">My Addresses</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-9 col-sm-9">
        
        <div class="account_container" *ngIf="currentTab == 'favOrders'">
          <h4 class="title">My Favorite Orders</h4>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <ng-container *ngIf="favOrders != null">
               <div class="panel panel-default" *ngFor="let fi of favOrders; let i=index">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">{{fi.FName}}: <ng-container *ngFor="let fd of fi.FDetail">{{fd.data.itemName}}, </ng-container><strong><a (click)="orderFavOrder(fi)" class="ordernow">Order Now</a></strong></a>
                    </h4>
                </div>                
                </div>
            </ng-container>
            <ng-container *ngIf="favOrders == null">
              <p *ngIf="showLoading">Please wait...</p>
              <p *ngIf="!showLoading">No data found</p>
            </ng-container>  

          </div>
        </div>


        <div class="account_container" *ngIf="currentTab == 'favItems'">
          <h4 class="title">My Favorite Items</h4>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <ng-container *ngIf="favItems != null">
               <div class="panel panel-default" *ngFor="let fi of favItems">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">{{fi.FName}}: {{fi.FDetail.data.itemName}}<strong><a class="ordernow" (click)="orderFavItem(fi)">Order Now</a></strong></a>
                    </h4>
                </div>                
                </div>
            </ng-container>
            <ng-container *ngIf="favItems == null">
              <p *ngIf="showLoading">Please wait...</p>
              <p *ngIf="!showLoading">No data found</p>
            </ng-container>  

          </div>
        </div>


        <div class="account_container" *ngIf="currentTab == 'orderHistory'">
          <h4 class="title">My Orders</h4>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- {{orderData[0].OrderId}} -->
            <div *ngFor = "let ord of orderData; let i = index;" class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{i}}" aria-expanded="true" aria-controls="collapseOne">Order # {{ord.OrderId}} <span><i class="fa fa-check"></i>Order Date: {{ord.CreatedAt}}</span> <strong>Order Value : {{currencyCode}} {{ord.OrderDetail.total_price}}</strong><i class="fa fa-angle-down"></i></a>
                  
                </h4>
              </div>
              <div id="collapse_{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8 col-sm-12">
                      <div class="table-responsive scroller">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th class="main">Item</th>
                                      <th>Qty</th>
                                      <th>price</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngFor="let prod of ord.OrderDetail.customData">
                                    <tr>
                                        <td>
                                            <h4>{{prod.data.itemName}}</h4>
                                            <ng-container *ngFor="let mod of prod.data.modifiers">

                                              <ng-container *ngIf="mod.option.length > 0">
                                                <ng-container *ngIf="mod.option[0].is_included_mod == false">
                                                  <p>
                                                    <ng-container *ngIf="mod.option[0].plu_code == '999991' || mod.option[0].plu_code == '999992' || mod.option[0].plu_code == '999993'">
                                                      <span>Size: </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="mod.option[0].plu_code == '91' || mod.option[0].plu_code == 'I100' || mod.option[0].plu_code == 'I101'">
                                                      <span>Crust: </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="mod.option[0].plu_code != '91' && mod.option[0].plu_code != 'I100' && mod.option[0].plu_code != 'I101' && mod.option[0].plu_code != '999991' && mod.option[0].plu_code != '999992' && mod.option[0].plu_code != '999993'">add </ng-container>
                                                    {{mod.option[0].name}}
                                                    <ng-container *ngIf="mod.option[0].add_extra == true"> (extra)</ng-container> 
                                                  </p>
                                                </ng-container>

                                                <ng-container *ngIf="mod.option[0].is_included_mod == true">
                                                  <p>
                                                    <ng-container *ngIf="mod.option[0].is_checked == false">no </ng-container>
                                                    {{mod.option[0].name}}
                                                    <ng-container *ngIf="mod.option[0].add_extra == true"> (extra)</ng-container>  
                                                  </p>
                                                </ng-container>                                              </ng-container>  
                                            </ng-container>                                            
                                        </td>
                                        <td>{{prod.data.qty}}</td>
                                        <td>{{currencyCode}} {{prod.data.totalItemCost}}</td>
                                    </tr>
                                  </ng-container>
                              </tbody>
                          </table>
                      </div>
                      <div class="blackbox" *ngIf="ord.OrderDetail.coupon != ''">
                          <div class="grand-total" style="background-color: #999;" >Coupon Discount [{{ord.OrderDetail.coupon}}]<span>{{currencyCode}} {{ord.OrderDetail.couponDiscount}}</span></div>
                      </div>
                      <div class="blackbox">
                          <div class="grand-total">Grand Total <span>{{currencyCode}} {{ord.OrderDetail.total_price}}</span></div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 details">
                      <h4>Order details</h4>
                      <ul>
                        <li><span>Order Mode :</span> {{ord.OrderDetail.order_type}}</li>
                        <li><span>Payment Mode :</span> Pay at store</li>
                        <li><span>From Restaurant:</span><br/>
                          {{ord.OrderDetail.store.store_name}}<br/>
                          {{ord.OrderDetail.store.store_address}}<br/>
                          {{ord.OrderDetail.store.store_phone}}</li>
                      </ul>
                        <h4 class="panel-title">
                        <a class="ordernow" *ngIf="ord.OrderDetail.customData != undefined" (click)="orderReOrder(ord)">Re-Order</a>
                        </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="account_box" *ngIf="currentTab == 'personalInfo'">
            <h4 class="title">Personal Info</h4>
            <p class="alert" [ngClass]="{'alert-success': error.isSuccess, 'alert-danger': !error.isSuccess}" *ngIf="error.show == true">{{error.message}}<p>
            <div class="accountmain_sec space">
                <form class="form-horizontal" #udpateProfile="ngForm" ngForm (ngSubmit)="updateProfile()">
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">First Name</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control" [(ngModel)]="user.firstname" id="firstname" #firstname="ngModel" name="user.firstname" placeholder="Enter First Name" required>
                      <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                          <div [hidden]="!firstname.errors.required">First Name is required.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Last Name</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control"  [(ngModel)]="user.lastname" id="lastname" #lastname="ngModel" name="user.lastname" placeholder="Last Name" required>
                      <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                          <div [hidden]="!lastname.errors.required">Last Name is required.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Email ID</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control" disabled [(ngModel)]="user.email" id="email" #email="ngModel" name="user.email" placeholder="Enter Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Date of Birth</label>
                    <div class="col-sm-7 col-md-7">
                      
                      <input appDateRangePick
                                        #dob="ngModel"
                                        name="dob"
                                        (selected)="dateSelected($event)"
                                        placeholder="dd-mm-yyyy"
                                        [(ngModel)]="user.dob"
                                        [options]="pickerOptions" type="text"
                                        class="form-control" required autocomplete="off" readonly/>

                      <div *ngIf="dob.errors && (dob.dirty || dob.touched)" class="alert alert-danger">
                          <div [hidden]="!dob.errors.required">Date of Birth is required.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Postal Code</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control" [(ngModel)]="user.postal" name="postal" placeholder="Postal Code">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Phone Number</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control" [(ngModel)]="user.phone" id="phone" #phone="ngModel" name="user.phone" placeholder="Enter Mobile" maxlength="15">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Favorite Location</label>
                    <div class="col-sm-7 col-md-7">
                      <select class="form-control" [(ngModel)]="user.favloc" name="favloc">
                        <option value="">Select Favorite Location</option>
                        <option *ngFor="let store of storeList" value="{{store.Store.id}}">{{store.Store.store_name}} ({{store.Store.store_address}})</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group buttons">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-default" [disabled]="!udpateProfile.form.valid">Update</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="account_box" *ngIf="currentTab == 'accountInfo'">
            <h4 class="title">Account Info</h4>
            <p class="alert" [ngClass]="{'alert-success': error.isSuccess, 'alert-danger': !error.isSuccess}" *ngIf="error.show == true">{{error.message}}<p>
            <div class="accountmain_sec space">
                <form class="form-horizontal" #udpateAccount="ngForm" ngForm (ngSubmit)="updateAccount()">
                   <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Password</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="password" class="form-control" [(ngModel)]="account.password" id="password" #password="ngModel" name="account.password" placeholder="Enter Password">
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Address 1</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control" [(ngModel)]="account.address1" id="address1" #address1="ngModel" name="account.address1" placeholder="Enter Address 1">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Address 2</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control" [(ngModel)]="account.address2" id="address2" #address2="ngModel" name="account.address2" placeholder="Enter Address 2">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label">Address 3</label>
                    <div class="col-sm-7 col-md-7">
                      <input type="text" class="form-control" [(ngModel)]="account.address3" id="address3" #address3="ngModel" name="account.address3" placeholder="Enter Address 3">
                    </div>
                  </div> -->
                  <div class="form-group buttons">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-default" [disabled]="!udpateAccount.form.valid">Update Account Info</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="account_box" *ngIf="currentTab == 'preference'">
            <h4 class="title">Prefrences Info</h4>
            <p class="alert" [ngClass]="{'alert-success': error.isSuccess, 'alert-danger': !error.isSuccess}" *ngIf="error.show == true">{{error.message}}<p>
            <div class="accountmain_sec space">
                <form class="form-horizontal" #udpatePrefrences="ngForm" ngForm (ngSubmit)="updatePrefrence()">
                  <div class="form-group" *ngFor="let pref of prefreces; let p=index">
                    <div class="col-sm-12">
                        <label>{{pref.Question.question}}</label>
                        <div class="checkbox" *ngFor="let opt of  pref.QuestionOption; let i=index;">
                            <label>
                                <ng-container *ngIf="pref.Question.is_multiple==1">
                                  <ng-container *ngIf="opt.checked==1">
                                      <input type="checkbox" checked (click)="setAnswer(opt.question_id,opt.id,$event,p,i)" id="option" value="{{opt.id}}" name="option[]"> 
                                  </ng-container>
                                  <ng-container *ngIf="opt.checked==0">
                                      <input type="checkbox" (click)="setAnswer(opt.question_id,opt.id,$event,p,i)" id="option" value="{{opt.id}}" name="option[]"> 
                                  </ng-container>
                                </ng-container>
                                <ng-container *ngIf="pref.Question.is_multiple==0">
                                  <ng-container *ngIf="opt.checked==1">
                                      <input type="radio" checked  (click)="setNewAnswer(opt.question_id,opt.id,$event,p,i)" id="option" value="{{opt.id}}" name="option_{{opt.question_id}}"> 
                                  </ng-container>
                                  <ng-container *ngIf="opt.checked==0">
                                      <input type="radio" (click)="setNewAnswer(opt.question_id,opt.id,$event,p,i)" id="option" value="{{opt.id}}" name="option_{{opt.question_id}}"> 
                                  </ng-container>
                                </ng-container>
                                {{opt.answer}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                  </div> 
                  <hr>
                  <div class="form-group">
                      <div class="checkbox"><label><input type="checkbox" [(ngModel)]="prefrence.subscribe" id="subscribe" #subscribe="ngModel" name="prefrence.subscribe">By enrolling in the nkd pizza, you’ll receive updates on new menu items, special offers, and other happenings at your local nkd pizza. you can unsubscribe at any time, by following instructions in any nkd pizza message. we respect your privacy and will never sell, rent, lease or give away your information (name, address, email, etc.) to any third party<span></span></label></div>
                  </div>
                  <div class="form-group buttons">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-default" [disabled]="!udpatePrefrences.form.valid">Update Prefrences</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
          
        <div class="account_box" *ngIf="currentTab == 'address'">
            <h4 class="title">My Addresses</h4>
            <div class="accountmain_sec">
              <div class="row">
                <ng-container *ngIf="showAddressForm">
                  <p class="alert" [ngClass]="{'alert-success': errorAddress.isSuccess, 'alert-danger': !errorAddress.isSuccess}" *ngIf="errorAddress.show == true">{{errorAddress.message}}<p>
                  <form #profileAddress="ngForm" ngForm (ngSubmit)="addAddress()">
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                           <input type="radio" value="Home" [(ngModel)]="address.address_type" id="address_type" #address_type="ngModel" name="address.address_type"> Home
                           <input type="radio" value="Office" [(ngModel)]="address.address_type" id="address_type" #address_type="ngModel" name="address.address_type"> Office
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                           <input type="checkbox" value="1" [(ngModel)]="address.is_default" id="is_default" #is_default="ngModel" name="address.is_default"> Is Default?
                        </div>
                      </div>
                       <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="First Name" id="firstname" #firstname="ngModel" name="address.firstname" [(ngModel)]="address.firstname" required>
                              <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                                  <div [hidden]="!firstname.errors.required">First Name is required.</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Last Name" id="lastname" #lastname="ngModel" name="address.lastname" [(ngModel)]="address.lastname" required>
                              <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                                  <div [hidden]="!lastname.errors.required">Last Name is required.</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input class="form-control" placeholder="Appt#" type="text" id="apartment" #apartment="ngModel" name="address.apartment" [(ngModel)]="address.apartment" required>
                              <div *ngIf="apartment.errors && (apartment.dirty || apartment.touched)" class="alert alert-danger">
                                  <div [hidden]="!apartment.errors.required">Apartment Number Name is required.</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input class="form-control" placeholder="Street#" type="text" id="streetNo" #streetNo="ngModel" name="address.streetNo" [(ngModel)]="address.streetNo">
                              <!-- <div *ngIf="streetNo.errors && (streetNo.dirty || streetNo.touched)" class="alert alert-danger">
                                  <div [hidden]="!streetNo.errors.required">Street Number is required.</div>
                              </div> -->
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input class="form-control" placeholder="Street / Building name" id="street" #street="ngModel" name="address.street" type="text" [(ngModel)]="address.street">
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input class="form-control" placeholder="City" type="text" id="city" #city="ngModel" name="address.city" [(ngModel)]="address.city">
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input class="form-control" placeholder="State" type="text" id="state" #state="ngModel" name="address.state" [(ngModel)]="address.state">
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input class="form-control" placeholder="Postal Code" type="text" id="postal_code" #postal_code="ngModel" name="address.postal_code" [(ngModel)]="address.postal_code">
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input class="form-control" maxlength="15" placeholder="Phone" type="text" id="phone" #phone="ngModel" name="address.phone" [(ngModel)]="address.phone">
                          </div>
                      </div>
                      <div class="form-group buttons">
                        <div class="col-sm-12">
                          <button type="submit" class="btn btn-default" [disabled]="!profileAddress.form.valid">Add Address</button>
                        </div>
                      </div>
                  </form>
              </ng-container>
              </div>
              <hr>
                <div class="row">
                    
                
                    <div *ngIf="addressArr.address1!='' && addressArr.address1 != undefined" class="col-md-4 col-sm-6">
                        <div class="address_box">
                            <h5>{{addressArr.address1 != undefined?addressArr.address1.address_type: ''}}<span *ngIf="addressArr.address1 != undefined && addressArr.address1.is_default">Default</span></h5>
                            <div class="content">
                                <p><strong>{{addressArr.address1.firstname}} {{addressArr.address1.lastname}} </strong><br>
                                {{addressArr.address1.apartment}} <br>
                                {{addressArr.address1.streetNo}} <br>
                                {{addressArr.address1.street}} {{addressArr.address1.city}}<br>
                                {{addressArr.address1.state}} {{addressArr.address1.postal_code}}</p>
                                <p>Phone Number:{{addressArr.address1.phone}}</p>
                                <p><a (click)="editAddress('Address1')">Edit</a> | <a (click)="deleteAddress('Address1')">Delete</a> <ng-container *ngIf="addressArr.address1 != undefined && !addressArr.address1.is_default"> | <a (click)="setAsDefault('Address1')">Set As Default</a></ng-container></p>
                            </div>
                        </div>
                    </div>    
                    <div *ngIf="addressArr.address2!='' && addressArr.address2 != undefined" class="col-md-4 col-sm-6">
                        <div class="address_box">
                            <h5>{{addressArr.address2.address_type}}<span *ngIf="addressArr.address2.is_default">Default</span></h5>
                            <div class="content">
                                <p><strong>{{addressArr.address2.firstname}} {{addressArr.address2.lastname}} </strong><br>
                                {{addressArr.address2.apartment}} <br>
                                {{addressArr.address2.streetNo}} <br>
                                {{addressArr.address2.street}} {{addressArr.address2.city}}<br>
                                {{addressArr.address2.state}} {{addressArr.address2.postal_code}}</p>
                                <p>Phone Number:{{addressArr.address2.phone}}</p>
                                <p><a (click)="editAddress('Address2')">Edit</a> | <a (click)="deleteAddress('Address2')">Delete</a> <ng-container *ngIf="!addressArr.address2.is_default"> | <a (click)="setAsDefault('Address2')">Set As Default</a></ng-container></p>
                            </div>
                        </div>
                    </div> 
                    <div *ngIf="addressArr.address3!='' && addressArr.address3 != undefined" class="col-md-4 col-sm-6">
                        <div class="address_box">
                            <h5>{{addressArr.address3.address_type}}<span *ngIf="addressArr.address3.is_default">Default</span></h5>
                            <div class="content">
                                <p><strong>{{addressArr.address3.firstname}} {{addressArr.address3.lastname}} </strong><br>
                                {{addressArr.address3.apartment}} <br>
                                {{addressArr.address3.streetNo}} <br>
                                {{addressArr.address3.street}} {{addressArr.address3.city}}<br>
                                {{addressArr.address3.state}} {{addressArr.address3.postal_code}}</p>
                                <p>Phone Number:{{addressArr.address3.phone}}</p>
                                <p><a (click)="editAddress('Address3')">Edit</a> | <a (click)="deleteAddress('Address3')">Delete</a> <ng-container *ngIf="!addressArr.address3.is_default"> | <a (click)="setAsDefault('Address3')">Set As Default</a></ng-container></p>
                            </div>
                        </div>
                    </div> 
                    <div *ngIf="totalNoOfAddress!=3" class="col-md-4 col-sm-6">
                        <div class="address_box addaddress">
                            <a (click)="showAddAddressForm()"><i class="fa fa-plus"></i> Add Address</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
          
      </div>

  </div>
</div>

