<!-- Sign up Modal -->
<div id="signupModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" (click)="close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" [ngClass]="{'active': firstStepForm}"><a href="#personel" aria-controls="personel" role="tab" data-toggle="tab"><small>1</small>personal info</a></li>
            <li role="presentation" [ngClass]="{'active': secondStepForm}"><a href="#info" aria-controls="info" role="tab" data-toggle="tab"><small>2</small>account info</a></li>
            <li role="presentation" [ngClass]="{'active': thirdStepForm}"><a href="#prefer" aria-controls="prefer" role="tab" data-toggle="tab"><small>3</small>preferences</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" [ngClass]="{'active': firstStepForm}" id="personel">
                <form #signUpStep1Form="ngForm" ngForm (ngSubmit)="secondStep(1)">
                  <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" class="form-control" id="email" #email="ngModel" [(ngModel)]="user.email" name="email" placeholder="Email" required email>
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors.required">Email is required.</div>
                        <div [hidden]="!email.errors.email">Invalid email.</div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" id="fname" #fname="ngModel" [(ngModel)]="user.fname" name="fname" placeholder="First name" required>
                            <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="alert alert-danger">
                                <div [hidden]="!fname.errors.required">First Name is required.</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                         <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" id="lname" #lname="ngModel" [(ngModel)]="user.lname" name="lname" placeholder="Last name" required>
                            <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger">
                                <div [hidden]="!lname.errors.required">Last Name is required.</div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Date of Birth</label>
                            <span class="calendar">
                            <input appDateRangePick
                                        #dob="ngModel"
                                        name="dob"
                                        (selected)="dateSelected($event)"
                                        placeholder="dd-mm-yyyy"
                                        [(ngModel)]="user.dob"
                                        [options]="pickerOptions" type="text"
                                        class="form-control" required autocomplete="off" readonly/>
                            </span>                                        
                            <!-- <input type="text" class="form-control" [(ngModel)]="user.dob"  name="dob" placeholder="yyyy-mm-dd" ngui-datetime-picker date-format="YYYY-MM-DD" date-only="true" max-date="{{maxDate}}-01-01" min-date="1940-01-01" required autocomplete="off"> -->
                            <div *ngIf="dob.errors && (dob.dirty || dob.touched) && user.dob == ''" class="alert alert-danger">
                                <div [hidden]="!dob.errors.required">Date of Birth is required.</div>
                            </div>
                        </div>  
                        <div class="col-md-6 col-sm-6">
                            <label>Postal Code</label>
                            <input type="text" class="form-control" [(ngModel)]="user.zip" name="zip" placeholder="Postal Code">
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Phone</label>
                                <input type="number" maxlength="15" class="form-control" [(ngModel)]="user.phone" name="phone" placeholder="Mobile Number i.e. +12XXXXXXXX">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Favorite Location</label>
                                <select class="form-control" [(ngModel)]="user.location" name="location">
                                    <option value="" selected>Select Favorite Location</option>
                                    <option *ngFor="let store of storeList" value="{{store.Store.id}}">{{store.Store.store_name}} ({{store.Store.store_address}})</option>
                                </select>
                            </div>
                        </div>
                  </div>
                   <div class="form-group">
                       <button type="submit" class="btn btn-default"
             [disabled]="!signUpStep1Form.form.valid">Next</button>
                    </div>
                </form>
                
            </div>
            <div role="tabpanel" class="tab-pane" [ngClass]="{'active': secondStepForm}" id="info">
                <form #signUpStep2Form="ngForm" ngForm (ngSubmit)="thirdStep(1)">
                    <div class="form-group">
                        <label>*User Name</label>
                        <input type="text" class="form-control" [(ngModel)]="account.username" id="username" #username="ngModel" name="account.username" placeholder="Name" required>
                        <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
                                <div [hidden]="!username.errors.required">User Name is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox"><label><input type="checkbox" [(ngModel)]="account.emailisusername" id="emailisusername" #emailisusername="ngModel" (click)="add(email.value,$event)" name="account.emailisusername"> Use my email address<span></span></label></div> 
                    </div>
                    <div class="form-group">
                        <label>*Password</label>
                        <input type="password" class="form-control"  [(ngModel)]="account.password" id="password" #password="ngModel" name="account.password" placeholder="Password" required>
                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                                <div [hidden]="!password.errors.required">Password is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox"><label><input type="checkbox" disabled [(ngModel)]="account.over" id="over" #over="ngModel" name="account.over" required> *I am over 18<span></span></label>
                        <div *ngIf="over.errors && (over.dirty || over.touched)" class="alert alert-danger">
                                <div [hidden]="!over.errors.required">Confirm you are 18+</div>
                        </div>
                        </div> 
                    </div>            
                    <div class="form-group">
                      <button type="button" (click)="secondStep(0)" class="btn btn-default prev">Previous</button>
                      <button type="submit" class="btn btn-default"
             [disabled]="!signUpStep2Form.form.valid">Next</button>
                    </div>
                </form>
            </div>
            <div role="tabpanel" style="height:55vh;overflow:auto;" class="tab-pane" [ngClass]="{'active': thirdStepForm}" id="prefer">
                <p class="alert" [ngClass]="{'alert-success': error.isSuccess, 'alert-danger': !error.isSuccess}" *ngIf="error.show == true">{{error.message}}<p>
                <form #signUpStep3Form="ngForm" ngForm (ngSubmit)="submit()">
                    <div class="form-group" *ngFor="let pref of prefreces; let p=index">
                        <label>{{pref.Question.question}}</label>
                        <div class="checkbox" *ngFor="let opt of  pref.QuestionOption; let i=index">
                            <label>
                                <ng-container *ngIf="pref.Question.is_multiple==1">
                                    <input type="checkbox" (click)="setAnswer(opt.question_id,opt.id,$event,p,i)" id="option" value="{{opt.id}}" name="option[{{pref.Question.id}}]"> 
                                </ng-container>
                                <ng-container *ngIf="pref.Question.is_multiple==0">
                                    <input type="radio" (click)="setNewAnswer(opt.question_id,opt.id,$event,p,i)" id="option" value="{{opt.id}}" name="option[{{pref.Question.id}}]"> 
                                </ng-container>
                                {{opt.answer}}
                                <span></span>
                            </label>
                        </div>
                    </div>  
                    <hr>
                    <div class="form-group lowercase">
                        <div class="checkbox"><label><input type="checkbox" [(ngModel)]="prefrence.enrolling" id="enrolling" #enrolling="ngModel" name="prefrence.enrolling">Sign up with NKD and you’ll receive updates on new menu items, special offers, and our other news. You can unsubscribe at any time, and please be assured we respect your privacy and will never sell, rent, lease or give away your information or contact details to any third party. No exceptions.<span></span></label></div>
                    </div>
                    <div class="form-group lowercase">
                        <div class="checkbox"><label><input type="checkbox" [(ngModel)]="prefrence.privacy" id="privacy" #privacy="ngModel" name="prefrence.privacy" required>I have read and agree to the <a [routerLink]="['/terms']" target="_blank">Terms of Use</a> and <a [routerLink]="['/privacy']" target="_blank">Privacy Policy</a>.<span></span></label>
                        <div *ngIf="privacy.errors && (privacy.dirty || privacy.touched)" class="alert alert-danger">
                                <div [hidden]="!privacy.errors.required">Confirm our privacy policy</div>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                    <button type="button" (click)="thirdStep(0)" [disabled]="showLoading" class="btn btn-default prev">Previous</button>
                    <button type="submit" [disabled]="showLoading" class="btn btn-default"
             [disabled]="!signUpStep3Form.form.valid">Register</button>
                    <ng-container *ngIf="showLoading"><div class="loader"><p>Please wait...</p></div></ng-container>
                    </div>
                </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
 