<!-- Sign up Modal -->
<div id="signupModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" (click)="close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#personel" aria-controls="personel" role="tab" data-toggle="tab"><small>1</small>Personel Info</a></li>
            <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab"><small>2</small>Account Info</a></li>
            <li role="presentation"><a href="#prefer" aria-controls="prefer" role="tab" data-toggle="tab"><small>3</small>Preferences</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="personel">
                <form>
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                         <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label>Birth date</label>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control">
                                <option>Month</option>
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                            </select>
                        </div>  
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control">
                                <option>Date</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div> 
                    </div>
                  </div>
                  <div class="form-group">
                    <label>zip code (us only)</label>
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
                  <div class="form-group">
                    <label>Favorite Location</label>
                    <select class="form-control">
                        <option>Select a location</option>
                        <option>USA, MI: Sterling Heights (2100 Metropolitan Pkwy)</option>
                        <option>UAE, Dubai: Business Bay (G02, Bayswater Bldg)</option>
                        <option>UAE, Dubai: Dubai Marina (G05, West Avenue Bldg)</option>
                        <option>UAE, Dubai: Motor City (Shop 1, Kojak Bldg)</option>
                        <option>BH, Bahrain: El Mercado (Shop 103, Building 108, Ave 79, Block 575, Janibiyah)</option>
                    </select>
                  </div>
                   <div class="form-group">
                      <button type="submit" class="btn btn-default">Next</button>
                    </div>
                </form>
                
            </div>
            <div role="tabpanel" class="tab-pane" id="info">
                <form>
                    <div class="form-group">
                        <label>*User Name</label>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <div class="checkbox"><label><input type="checkbox"> Use my email address</label></div> 
                    </div>
                    <div class="form-group">
                        <label>*Password</label>
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>*Confirm Password</label>
                        <input type="text" class="form-control" placeholder="Confirm Name">
                        <p>Passowrd May contain any character & symbols except spaces</p>
                    </div>
                    <div class="form-group">
                        <label>Birthdate</label>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control">
                                    <option>Month</option>
                                    <option>January</option>
                                    <option>February</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control">
                                    <option>Date</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control">
                                    <option>Year</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox"><label><input type="checkbox"> *I am over 18</label></div> 
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-default prev">Previos</button>
                      <button type="submit" class="btn btn-default">Next</button>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="prefer">
                <div class="form-group">
                    <label>Is NKD Pizza closer to your Home or Work? </label>
                    <div class="checkbox"><label><input type="checkbox"> Home</label></div>
                    <div class="checkbox"><label><input type="checkbox"> Work</label></div>
                </div>
                <div class="form-group">
                    <label>When would you typically order?</label>
                    <div class="checkbox"><label><input type="checkbox"> Lunch</label></div>
                    <div class="checkbox"><label><input type="checkbox"> Dinner</label></div>
                    <div class="checkbox"><label><input type="checkbox"> Late-night</label></div>
                </div>
                <div class="form-group">
                    <label>When would you Order Pizza for a Group? </label>
                    <div class="checkbox"><label><input type="checkbox"> Youth Sports Team</label></div>
                    <div class="checkbox"><label><input type="checkbox"> School Organizations</label></div>
                    <div class="checkbox"><label><input type="checkbox"> Not-for-Profit Organization</label></div>
                    <div class="checkbox"><label><input type="checkbox"> Co-Workers</label></div>
                </div>
                <div class="form-group">
                    <label>Are there Children in your household? </label>
                    <div class="radio"><label><input type="radio" name="chil"> Yes</label></div>
                    <div class="radio"><label><input type="radio" name="chil"> No</label></div>
                </div>
                <div class="form-group">
                    <label>Which type of Toppings would you usually order? </label>
                    <div class="radio"><label><input type="radio" name="order"> Meat</label></div>
                    <div class="radio"><label><input type="radio" name="order"> Veggie</label></div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="checkbox"><label><input type="checkbox">By enrolling in the nkd pizza eclub, you’ll receive updates on new menu items, special offers, and other happenings at your local nkd pizza. you can unsubscribe at any time, by following instructions in any eclub message. we respect your privacy and will never sell, rent, lease or give away your information (name, address, email, etc.) to any third party</label></div>
                </div>
                <div class="form-group">
                    <div class="checkbox"><label><input type="checkbox"> I have read and agree to the <a href="#">Program Terms</a>, <a href="#">Terms of Use</a>, and <a href="#">Privacy Policy</a>, applicable to the nkd pizza program </label></div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default prev">Previos</button>
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#Congrath-Modal" onclick="$('#signupModal').modal('hide')">Register</button>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
 